{%- set width = 76 -%}
{%- set indent = 2 -%}
{%- set fieldwidth = 27 -%}
{%- if vars.draft -%}
{{ '=' * width }}
DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT
{{ '=' * width }}
{%- endif %}

Subject: [SUA X-1] Upcoming Debian {{vars.version}} Update ({{vars.version}}{{vars.revision}})
Reply-To: debian-release@lists.debian.org
Mail-Followup-To: debian-release@lists.debian.org

{{ '-' * width }}
{{ ['Debian Stable Updates Announcement SUA XXX-1', 'https://www.debian.org/']|lrjust(width) }}
{{ ['debian-release@lists.debian.org', 'Adam D. Barratt']|lrjust(width) }}
{{ vars.longdate }}
{{ '-' * width }}

Upcoming Debian {{vars.version}} Update ({{vars.version}}{{vars.revision}})

{% filter parawordwrap(width) -%}
An update to Debian {{vars.version}} is scheduled for Saturday, XXX XXth,
20XX. As of now it will include the following bug fixes. They can be
found in "{{vars.codename}}-proposed-updates", which is carried by all official
mirrors.
{% endfilter %}

{% filter parawordwrap(width) -%}
Please note that packages published through security.debian.org are not
listed, but will be included if possible. Some of the updates below
are also already available through "{{vars.codename}}-updates".
{% endfilter %}

{% filter parawordwrap(width) -%}
Testing and feedback would be appreciated. Bugs should be filed in the
Debian Bug Tracking System, but please make the Release Team aware of
them by copying "debian-release@lists.debian.org" on your mails.
{% endfilter %}

{% filter parawordwrap(width) -%}
[XXXThe point release will also include a rebuild of debian-installer.XXX]
{% endfilter %}

{% if vars.draft %}
{%   if vars['auto:pending'] %}
Packages requiring further investigation
----------------------------------------

The following packages require further investigation before they can be accepted.

    Package                       Reason
{%      for package, info in tables.accepted|dictsort -%}
{%-        if info.status == 'MB' and info.seconly != 'Y' -%}
{%-            set version, details = info.versions|dictsort|last %}
{{ ' ' * indent }}{{package.ljust(fieldwidth)}}Missing builds: {{details.missing_builds|sort|join(' ')}}
{%        endif -%}
{%-     endfor -%}
{%-   endif -%}
{%- endif %}

{% if vars['auto:miscfixes'] %}
Miscellaneous Bugfixes
----------------------

{% filter parawordwrap(width) -%}
{%  if vars['auto:archsync'] -%}
This {{vars.suite}} update adds several binary updates for various architectures
to packages whose version was not synchronised across all architectures.
It also adds a few important corrections to the following packages:
{%-   else -%}
This {{vars.suite}} update adds a few important corrections to the following packages:
{%-   endif %}
{% endfilter %}

{{ ' ' * indent }}{{'Package'.ljust(fieldwidth)}}Reason
{{ ' ' * indent }}{{'-------'.ljust(fieldwidth)}}------
{%   for package, info in tables.accepted|dictsort -%}
{%-     if info.status == 'OK' and info.seconly != 'Y' -%}
{%-       if info.advisory|default('') == '' -%}
{%-         set reasons = [] -%}
{%-         for version, details in info.versions|dictsort if details.advisory|default('') == '' and details.reason not in reasons -%}
{%-             do reasons.append(details.reason) -%}
{%-         endfor %}
{{ ' ' * indent}}{{package.ljust(fieldwidth)}}{{reasons|join('; ')|capfirst|wordwrap(width-fieldwidth-indent)|indent(indent+fieldwidth)}}
{%       endif -%}
{%-     endif -%}
{%-   endfor -%}
{%- endif %}

{% filter parawordwrap(width) -%}
A complete list of all accepted and rejected packages together with
rationale is on the preparation page for this revision:
{% endfilter %}

  <https://release.debian.org/proposed-updates/{{vars.suite}}.html>

{% if vars['auto:removals'] %}
Removed packages
----------------

{% filter parawordwrap(width) -%}
The following packages will be removed due to circumstances beyond our
control:
{% endfilter %}

{{ ' ' * indent }}{{'Package'.ljust(fieldwidth)}}Reason
{{ ' ' * indent }}{{'-------'.ljust(fieldwidth)}}------
{% for removal, details in tables['removals']|dictsort %}
{{ ' ' * indent}}{{removal.ljust(fieldwidth)}}{{details.reason|capfirst|wordwrap(width-fieldwidth-indent)|indent(indent+fieldwidth)}}
{% endfor %}

{%- endif %}

{% filter parawordwrap(width) -%}
If you encounter any issues, please don't hesitate to get in touch with
the Debian Release Team at "debian-release@lists.debian.org".
{% endfilter %}

{% if vars.draft %}
{{ '=' * width }}
DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT
{{ '=' * width }}
{% endif %}
